{% extends 'shop/base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
<h1>Products in {{ category.name }}</h1>
<div class="row">
    {% for product in products %}
        <div class="col-md-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <a href="{% url 'product_detail' product.slug %}" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
